.iu-center-box {
  width:320px;
}
.iu-page {
  min-width:320px;
}
.main {
  height:1000px;
}
.header {
  color:#333333;
  float:none;
  height:40px;
  left:0px;
  position:fixed;
  top:0px;
  width:100%;
  z-index:11;
}
.text-5 {
  background-color:#000000;
  bottom:0px;
  color:#8092FF;
  float:none;
  font-family:'Nanum Gothic', sans-serif;
  font-size:24px;
  font-weight:700;
  height:40px;
  left:0px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100%;
}
.page-content {
  background-color:#FFFFFF;
  height:95%;
}
.icon-button {
  border-color:#00FFFF;
  border-top-width:1px;
  float:none;
  height:60px;
  left:0%;
  line-height:60px;
  position:fixed;
  text-align:center;
  top:90%;
  width:25%;
  z-index:11;
}
.icon-button > p > img {
  height:30px;
  width:30px;
}
.icon-button-14 {
  border-color:#00FFFF;
  border-top-width:1px;
  float:none;
  height:60px;
  left:25%;
  line-height:60px;
  position:fixed;
  text-align:center;
  top:90%;
  width:25%;
  z-index:11;
}
.icon-button-14 > p > img {
  height:30px;
  width:30px;
}
.icon-button-15 {
  border-color:#00FFFF;
  border-top-width:1px;
  float:none;
  height:60px;
  left:50%;
  line-height:60px;
  position:fixed;
  text-align:center;
  top:90%;
  width:25%;
  z-index:11;
}
.icon-button-15 > p > img {
  height:30px;
  width:30px;
}
.icon-button-16 {
  border-color:#00FFFF;
  border-top-width:1px;
  float:none;
  height:60px;
  left:75%;
  line-height:60px;
  position:fixed;
  text-align:center;
  top:90%;
  width:25%;
  z-index:11;
}
.icon-button-16 > p > img {
  height:30px;
  width:30px;
}
.section {
  border-width:0px;
  height:380px;
}
.center-box-11 {
  border-width:0px;
  left:0px;
}
.cell {
  bottom:0px;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100px;
}
.section-16 {
  border-color:#6D6D6D;
  border-width:1px;
  height:380px;
}
.center-box-17 {
  border-width:0px;
}
.cell-18 {
  bottom:0px;
  height:40px;
  left:0px;
  line-height:40px;
  margin:auto;
  right:0px;
  text-align:center;
  top:0px;
  width:100px;
}